.vs
.vscode
app
bin
build
built
dist
issues
obj
src
tests
typings
.gitattributes
.gitignore
.npmignore
.mocharc.json
.travis.yml
gulpfile.js
run.*
tsconfig.json
*.dat
*.sln
*.njsproj
*.njsproj.user
*.njsproj.vspscc